.ui.borderless.topmenu.menu {
  background-color: #f5f5f5;
  border: none;
}

.ui.centered.grid.container{
  margin-top: 3em;
}

.ui.fluid.image{
  margin-top: 2em;
}

.IS-darkGrey-background{
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: rgb(41, 41, 41);
  color: white;
}


